* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display:flex;
  justify-content: space-around;
  margin-top: 8%;
  margin-bottom: 8%;

}

#front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  
}

#front-page h1 {
  text-align: center;
}

#front-page p {
  text-align: center;
  margin-top:8px;
  margin-bottom:8px;
}

#start-btn {
  background-color: darkblue;
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
}

#start-btn:hover {
  cursor: pointer;
  background-color: rgba(5, 39, 126, 0.68);
}

#start-btn:active {
  background-color: rgb(1, 97, 1);
}

#question {
  color: black;
  text-align: center;
  width: 700px;
  margin-right: auto;
  margin-left: auto;

}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(5, 39, 126, 0.68);
  color: white;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

li:hover {
  cursor: pointer;
  background-color:rgba(19, 123, 234, 0.511);
}

h1 {
  text-align: center;
}
h4 {
  text-align: center;
}

.text {
  text-align: center;
}

#quiz {
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#Correct {
  color: grey;
  text-decoration: underline;
  font-weight: lighter;
  opacity: 20%;
  
}